<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=OpenSans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Open Sans", sans-serif}
        .w3-bar,h1,button {font-family: "Roboto", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
    </style>

    <head>
        <title>{{ page.title }}</title>
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/college_guide">College Guide</a></li>
            </ul>
        </nav>

        <div class="w3-container w3-row-padding w3-padding-16">
            <div class="w3-content">
                <div class="w3-threequarter">
                    {{ content }}
                </div>
            </div>
        </div>

        <footer>
            
            <ul>
                <li><a href="mailto:2016collegeessays@gmail.com">Email Us</a></li>
            </ul>
            
        </footer>

    </body>

</html>
